
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .OutWidth{
            width:1100px;
            position:relative;
            background-color:aliceblue;
            margin:0 auto;
        }
        .Textcenter{
            text-align:center;
        }
        .Tile{
            border-style:dotted;
            border-width:1px;
            position:relative;
            font-size:32px;
            font-weight:bold;
        }
        #Contentbody
        {
            position:relative;
            margin-top:30px;
        }
        .textlabel1{
            text-align:left;
            padding-left:10px;
            font-weight:bold;
            font-size:14px;
        }
        .textblue{
            color:blue;
        }
        .Style_Section {
            margin-top: 4px;
            color: #005fb0;
            font-weight: bold;
            font-size: 16px;
            text-align: left;
            line-height: 30px;
            padding-left: 10px;
            border: solid 1px #ddd;
            height: 30px;
            background-color:#e8fffe;
        }
        .backgroundOfHeader01{
            margin-top: 4px;
            padding-left: 10px;
        }
        .table01 {
            border: solid 1px #ddd;
            width: 1100px;
            border-collapse:collapse;
        }
        .table01 tr td{
            border: solid 1px #ddd;
            background-color: #fff;
        }
        .borderTdHead {
            width: 120px;
            background-color: #F0F5FB;
        }
        .testStyle{
            
        }
        .backGroundQV {
            background-image:url('../Images/mapQv.png');
        }
        .backGroundDV {
            background-image:url('../Images/Map_DongVangH.png');
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
    <div class="OutWidth Textcenter">
        
        <div class="Tile">
            <label id="label_Title">@ViewBag.Title</label>
        </div>
        <div id="Contentbody">
            <div hidden="hidden">
                <input name="Radio1" id="Radio1" type="radio" checked="checked" value="1" /><label>Nhân viên PCCC</label>&nbsp;
                <input name="Radio1" id="Radio2" type="radio" value="2" /><label>Nhân viên cơ động</label>
            </div>
            <div class="Style_Section">
                I.<label>Thông tin người tuần tra</label>
            </div>
            <div>
                <table class="table01">
                    <tr>
                        <td class="textlabel1 borderTdHead">
                            <label>Mã thẻ</label>
                        </td>
                        <td>
                            <label class="textblue" id="txt_EmpNo">@ViewBag.EmpNoFromIc</label>
                        </td>
                        <td class="textlabel1 borderTdHead">
                            <label>Họ tên</label>
                        </td>
                        <td>
                            <label class="textblue" id="txt_EmpName">@ViewBag.testNameFromIc</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="textlabel1 borderTdHead">
                            <label>Nhà xưởng</label>
                        </td>
                        <td>
                            <label>@ViewBag.AreaName</label>
                        </td>
                        <td class="textlabel1 borderTdHead">
                            <label>Ngày ký duyệt</label>
                        </td>
                        <td>
                            <label>@ViewBag.DateSign</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="textlabel1 borderTdHead">
                            <label>Khung thời gian</label>
                        </td>
                        <td colspan="2">
                            <label>@ViewBag.FrameTimeName</label>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="OutWidth">
                <input hidden="hidden" style="width:200px;height:30px" id="btn_test" type="button" value="test" />
                <input hidden="hidden" type="button" id="btn_Upload" value="Upload" />
            </div>
            <div class="Style_Section">
                II.<label>Bản đồ ký duyệt tuần tra</label>
            </div>
            <div style="margin-top:10px" >
                @if(@ViewBag.AreaID.ToString() == "3")
                {
                    <canvas id="mycanvas" width="1100" height="950" style="background: url('../Images/mapQv.png')">
                    </canvas>
                }
                else if(@ViewBag.AreaID.ToString() == "99")
                {
                    <canvas id="mycanvas" width="1100" height="960" style="background: url('../Images/DongVang.jpg')">
                    </canvas>
                }
                else if(@ViewBag.AreaID.ToString() == "5")
                {
                    <canvas id="mycanvas" width="1100" height="550" style="background: url('../Images/QuangChauFM.PNG')">
                    </canvas>
                }
                else if(@ViewBag.AreaID.ToString() == "101")
                {
                    <canvas id="mycanvas" width="1100" height="400" style="background: url('../Images/QuangChauKhuP.PNG')">
                    </canvas>
                }
                else if (@ViewBag.AreaID.ToString() == "69")
                {
                    <canvas id="mycanvas" width="820" height="556" style="background: url('../Images/BanDothienKim.png')">
                    </canvas>
                }
                else if (@ViewBag.AreaID.ToString() == "31")
                {
                    <canvas id="mycanvas" width="845" height="464" style="background: url('../Images/KhuCQV.png')">
                    </canvas>
                }
                else if (@ViewBag.AreaID.ToString() == "32")
                {
                    <canvas id="mycanvas" width="837" height="551" style="background: url('../Images/MapBN3.png')">
                    </canvas>
                }
                else if (@ViewBag.AreaID.ToString() == "33")
                {
                    <canvas id="mycanvas" width="738" height="500" style="background: url('../Images/MapQV3.png')">
                    </canvas>
                }
                else if(@ViewBag.AreaID.ToString() == "60")
                {
                    <canvas id="mycanvas" width="731" height="540" style="background: url('../Images/MapJusdaYenTrung.png')">
                    </canvas>
                }
                else if (@ViewBag.AreaID.ToString() == "11")
                {
                    <canvas id="mycanvas" width="1026" height="767" style="background: url('../Images/fk.jpg')">
                    </canvas>

                }
                else
                {
                    <canvas id="mycanvas" width="1100" height="960" style="background: url('../Images/mapQv.png')">
                    </canvas>
                }
            </div>
            <form id="form1" hidden="hidden">
                <label>User name:</label><label id="txt_name1"></label>

            </form>

            <div class="Style_Section">
                III.<label>Lịch sử ký duyệt tuần tra</label>
            </div>
            <div class="OutWidth">
                <table class="table01">
                    <tr>
                        <td>
                            <label>Vị trí</label>
                        </td>
                        <td>
                            <label>Trạng thái ký duyệt</label>
                        </td>
                        <td>
                            <label>Trạng thái điểm ký duyệt</label>
                        </td>
                        <td>
                            <label>Ghi chú</label>
                        </td>
                        <td>
                            <label>Thời gian</label>
                        </td>
                        <td>
                            <label>Hình ảnh</label>
                        </td>
                    </tr>
                        @foreach(var listtest in ViewData["ListHistorySign"] as List<Model_HistorySign>)
                        {
                            <tr>
                                <td>
                                    @listtest.LocationDetailName
                                </td>
                                <td>
                                    @if(@listtest.Status == 0)
                                    {
                                        <label>Chưa ký</label>
                                    }
                                    else
                                    {
                                        <label>Đã ký</label>
                                    }
                                </td>
                                <td>
                                    @if(@listtest.Status == 0)
                                    {
                                        <label></label>
                                    }
                                    else if(@listtest.Status == 3)
                                    {
                                        <label style="color:orangered">Bất thường</label>
                                    }
                                    else
                                    {
                                        <label>Bình thường</label>
                                    }
                                </td>
                                <td>
                                    @if(@listtest.Memo.ToString() == "Na" || @listtest.Memo.ToString() ==""|| @listtest.Memo.ToString() ==null)
                                    {
                                        <label></label>
                                    }
                                    else
                                    {
                                        <label>@listtest.Memo</label>
                                    }
                                </td>
                                <td>
                                    @listtest.Workdate
                                </td>
                                <td>
                                    @if(@listtest.Image.ToString() == "Na" || @listtest.Image.ToString() ==""|| @listtest.Image.ToString() ==null)
                                    {
                                        <label></label>
                                    }
                                    else
                                    {
                                        <a href="/Upload/@listtest.Image">Chi tiết</a>
                                    }
                            </td>
                            </tr>
                        }

                </table>
            </div>
        </div>
        
        <label hidden="hidden" id="lbl_EmpNameFromIC">@ViewBag.testNameFromIc</label>
        <label hidden="hidden" id="lbl_EmpNoFromIC">@ViewBag.EmpNoFromIc</label>
        <label hidden="hidden" id="LocationID">@ViewBag.LocaiontID</label>
    </div>
    <label hidden="hidden" id="lbl_FormType">@ViewBag.Type</label>
    @Html.Hidden("RedirectToSuccess", Url.Action("Index", "Success"));
    @foreach(var listtest in ViewData["ListHistorySign"] as List<Model_HistorySign>)
        {
            <script type="text/javascript">
                var canvas = document.getElementById("mycanvas");
                var contextt = canvas.getContext("2d");

                var status1 = @listtest.Status.ToString();
                var color;
                if (status1 == "1" || status1 == "3") {
                    color = '#00FF00';
                } else {
                    color = '#FF0000';
                }
                centerX = @listtest.X;
                centerY = @listtest.Y;
                radius = 12;
                contextt.beginPath();
                contextt.fillStyle = color;
                contextt.strokeStyle = color;
                contextt.lineWidth = 2;
                contextt.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                contextt.fill();
                contextt.stroke();
            </script>
        }
     <script type="text/javascript">
        //var codeForIcvet = "3C96DMLqb4K1iuj5sgJOgchR4m-UoxsVFsVRpw8xtet03P1w";
        var codeForIcvet = $('#Code02').text();
        TypeForm = 1;

        function CallApi() {
            var code_i = $('#Code02').text();
            var parameter = {
                code: codeForIcvet,
                appid: "A36PAwlql7vvuGDueqKSMw2"
            }
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: 'http://civetInterface.foxconn.com/open/get_user_info_bycode',
                data: JSON.stringify(parameter),
                success: function(daatt) {
                    if (daatt['realname'] != null) {
                        $("#txt_EmpName").html(daatt['realname']);
                        $("#txt_EmpNo").html(daatt['civetno']);

                    }
                    else {
                        //alert('Complete name: '+ daatt['realname']);
                    }

                },
                error: function() {
                    alert('An error occurred uploading data.');
                }
            });
        };

        /* after is a function get ListHistory of sign*/
        function getListTest(){
            var LocationIDstr = $("#LocationID").text();
            var EmpNoIDstr = $("#lbl_EmpNoFromIC").text();
            var parameter = {
                //LocationID: 'CGQV01',
                LocationID: LocationIDstr,
                //EmpNo: 'V0510589'
                EmpNo: EmpNoIDstr
            }
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType:'application/json',
                data: JSON.stringify(parameter),
                url: '/OndutySignEmpAttw114/GetHistorySignNow',
                success: function(dataOut) {
                    alert('LocationDetailName1:' + dataOut[1]['LocationDetailName']);

                    var canvas = document.getElementById("mycanvas");
                    var contextt = canvas.getContext("2d");

                    /*$.each($.parseJSON(dataOut), function (i, itemData) {*/
                    jQuery.each(dataOut, function(index, itemData) {
                        var status1 = itemData.Status.toString();
                        var color;
                        if (status1 == "1" || status1 == "3") {
                            color = '#00FF00';
                        } else {
                            color = '#FF0000';
                        }
                        centerX = itemData.X;
                        centerY = itemData.Y;
                        radius = 12;
                        contextt.beginPath();
                        contextt.fillStyle = color;
                        contextt.strokeStyle = color;
                        contextt.lineWidth = 2;
                        contextt.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                        contextt.fill();
                        contextt.stroke();

                        //break;
                    });
                    
                    
                },
                error: function() {
                    alert('error get List history Sign');
                }
            });
        }


        window.onload = function () {

            /*
            var canvas = document.getElementById("mycanvas");
            var contextt = canvas.getContext("2d");
            centerX = 100;
            centerY = 100;
            radius = 12;
            contextt.beginPath();
            contextt.fillStyle = '#0077aa';
            contextt.strokeStyle = '#0077aa';
            contextt.lineWidth = 2;
            contextt.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
            contextt.fill();
            contextt.stroke();
            */
            CallApi();
            //getListTest();
        };


        /* Function Upload File */
        function UploadImageFile() {
            var retval;
            var files = document.getElementById('FileupLoadImage').files;// $('#file').files[0];// e.target.files;
            var fileName = document.getElementById("FileupLoadImage").files[0].name;
            var fileExtension = fileName.split('.').pop();

            var today = new Date();
            var Nameorigin = today.getFullYear().toString() + today.getMonth().toString() + today.getDate().toString()+ today.getHours().toString()+ today.getMinutes().toString() + today.getSeconds().toString()+ today.getMilliseconds().toString();
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                        //data.append(base64String, base64String);
                    }
                    data.append("ImageName", Nameorigin.toString());
                    $.ajax({
                        type: "POST",
                        url: '/OndutySignEmpAttw114/UploadImageNew1',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function(result) {
                            $("#FileupLoadImage").val(null);
                            //alert(result);
                        },
                        error: function(xhr, status, exception) {
                            //alert(''+exception);
                        }
                    });
                } else {
                    alert("Upgrade your browser!");
                }
            }
            retval = Nameorigin +"."+ fileExtension;
            return retval;
        }
        //upload image
        $("#btn_Upload").click(function() {
            /*
            var files = document.getElementById('FileupLoadImage').files;// $('#file').files[0];// e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                        //data.append(base64String, base64String);
                    }
                    $.ajax({
                        type: "POST",
                        url: '/OndutySignEmpAttw114/UploadImage',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            alert(result);
                            $("#FileupLoadImage").val(null);
                        },
                        error: function (xhr, status, p3, p4) {
                            alert('Something is going to wrong please try agan!');
                        }
                    });
                } else {
                    alert("Upgrade your browser!");
                }
            }
            */
           
            var ImageName;
            ImageName = UploadImageFile();
            alert('Da upload file:'+ImageName);
            
            
            /*var fileName = document.getElementById("FileupLoadImage").files[0].name;
            var fileExtension = fileName.split('.').pop();
            alert("."+fileExtension);*/
            /*
            $.ajax({
            type: "POST",
            //url: '/OndutySignEmpAttw114/Testprint',
            url: '@Url.Action("Testprint")',
            data: {mmm: "dadx", bbb: "cvbxcvb"},
            dataType: "text",
            success: function (msg) {
                alert(msg);
            },
            error: function (req, status, error) {
                alert(error);
                alert(req);
            }
            });*/

        });

        // thay doi binh thuong va bat thuong
        /*$("#Select1").change(function() {
            TypeForm = 1;
            //alert("you have changed value to:" + $(this).val());
            alert("you have changed value to:" + $(this).find("option:selected").text());
        });
        */
        $("#Radio1").change(function() {
            alert("you have changed value from:" + TypeForm);
            TypeForm = 1;
        });

        $("#Radio2").change(function() {
            alert("you have changed value from:" + TypeForm);
            TypeForm = 2;
            //alert("you have changed value to:" + $(this).val());
        });


        /* COMMIT Click */
        $('#btn_Submit').click(function () {
            //$('#txt_test').html("aaaaa1");
            //$('#txt_testTxt').val("aaaaa1");
            //document.getElementById('txt_testTxt').value = "mmmm";
            //document.getElementById('txt_test').innerHTML = "bbbbb";
            //alert("Handler for .click() called.");

            var files = document.getElementById('FileupLoadImage').files;// $('#file').files[0];// e.target.files;
            var ImageName;
            if (files.length > 0) {
                ImageName = UploadImageFile();
            }
            else {
                ImageName = "Na";
            }
            var RederectUrl = $("#RedirectToSuccess").val();

            var Isoke = $("#Select1").val();
            var contentSign;
            if ($("#TextArea_SignNote").val() == null || $("#TextArea_SignNote").val() == "") {
                contentSign = "Na";
            }
            else {
                contentSign = $("#TextArea_SignNote").val();
            }
            var EmpNostr = $("#lbl_EmpNoFromIC").text();
            var EmpNamestr = $("#lbl_EmpNameFromIC").text();
            var LocationIDstr = $("#LocationID").text();
            var parameter = {
                Type: 1,
                EmpNo: EmpNostr,
                EmpName: EmpNamestr,
                LocationID: LocationIDstr,
                Isoke: Isoke,
                ImageName: ImageName,
                Notes: contentSign
            }
           $.ajax({
                type: 'POST',
                dataType: 'text',
                url: '/OndutySignEmpAttw114/SignAttw',
                data:parameter,
                success: function(daa) {
                    //alert('Complete name: '+ daa['StatusContent']);
                    location.href = RederectUrl;
                },
                error: function(daa,status,exception) {
                    alert('An error occurred uploading data exception:'+ex);
                }
            });

        });
        

        $('#btn_test').click(function() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/OndutySignEmpAttw114/TestController',
                /* data:{"name" : $("#txt_name").val }, */
                success: function(daa) {
                    alert('Complete name: '+ daa[0]['name']);
                },
                error: function() {
                    alert('An error occurred uploading data.');
                }
            });
        });
        
        /*$('#button1').click(function() {
            var code_i = $('#Code03').text();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/OndutySignEmpAttw114/TestSaveCode',
                data:{"code" : code_i },
                success: function(daa) {
                    alert('Complete name: '+ daa[0]['name']);
                },
                error: function() {
                    alert('An error occurred uploading data.');
                }
            });
        });*/
        
        /*$('#button2').click(function() {
            var code_i = $('#Code02').text();
            var parameter = {
                code: codeForIcvet,
                appid: "A36PAwlql7vvuGDueqKSMw2"
            }
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: 'http://civetInterface.foxconn.com/open/get_user_info_bycode',
                data: JSON.stringify(parameter),
                success: function(daa1) {
                    if (daa1['nickname'] != null) {
                        alert('Complete name: '+ daa1['nickname']);
                    }
                    if (daa1['exception_code'] != null) {
                        alert('Exceptsion: ' + daa1['exception_code']);
                    }
                },
                error: function() {
                    alert('An error occurred uploading data.');
                }
            });
        });
        */
        

    </script>
</body>
</html>
